{% extends 'base_user.html' %}

{% block head_content %}
<title>{{title}}</title>
{% endblock%}

{% block container %}
<h1 class="h-1 my-4">Ordenar</h1>
{% if user %}
<p class='fs-5'>Hola {{ user | capfirst }}</p>
{% endif %}
<div class="card p-4">

  <form action="/orders/save/{{uuid}}" method="post">
    {% csrf_token %}
    <div class="card-title">
      Selecciona uno:
    </div>
    <div class="form-check my-2">
      <input class="form-check-input" type="radio" name="menu_option" value='option_1'>
      <label class="form-check-label " for="menu_1">
        {{menu.option_1}}
      </label>
    </div>
    <div class="form-check my-2">
      <input class="form-check-input" type="radio" name="menu_option" value='option_2'>
      <label class="form-check-label " for="menu_2">
        {{menu.option_2}}
      </label>
    </div>
    <div class="form-check my-2">
      <input class="form-check-input" type="radio" name="menu_option" value='option_3'>
      <label class="form-check-label " for="menu_3">
        {{menu.option_3}}
      </label>
    </div>
    <div class="form-check my-2">
      <label class="form-check-label " for="menu_4">
        {{menu.option_4}}
      </label>
      <input class="form-check-input" type="radio" name="menu_option" value='option_4'>
    </div>
    <div class="mb-3">
      <div class="invalid-feedback">
        {{ form.non_field_errors }}
      </div>
      <label for="{{ form.description_order.id_for_label }}">Description Order</label>
      {{ form.description_order}}
    </div>
    {% if user == None %}
    <div class="mb-3">
      <div class="invalid-feedback">
        {{ form.non_field_errors }}
      </div>
      <label for="{{ form.email.id_for_label }}">Email</label>
      {{ form.email }}
    </div>

    <div class="mb-3">
      <div class="invalid-feedback">
        {{ form.non_field_errors }}
      </div>
      <label for="{{ form.first_name.id_for_label }}">Name</label>
      {{ form.first_name }}
    </div>

    {% endif %}
    <div class="mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary">Order</button>
    </div>
</div>

</form>
{% endblock %}